
.nav {
    max-width: 0;
    @media screen and (min-width: 768px) {
        max-width: 50px;
        padding: 5px;
    }
    height: 100%;
    transition: width 300ms ease-in-out;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &_expanded {
        max-width: 200px;
        padding: 5px;
    }

    &__menu {
        height: 40px;
    }

    &__item {
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
    }

    &__submenu {
        position: relative;
        height: 0;
        transition: height 300ms ease-in-out;
        &_before {
            left: 20px;
            top: -20px;
            bottom: 20px;
            position: relative;
            display: block;
            width: 1px;
            z-index: 1;
        }
        &_expanded {
            height: 40px;
        }
    }

    &__subitem {
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        &_before {
            position: relative;
            width: 25px;
            z-index: 1;
            display: inline-block;
        }
        &_expanded {
            opacity: 1;
        }

        .nav__text {
            position: relative;
            left: -20px;
            top: 20px;
        }
    }

    &__icon {
        width: 0;
        height: 0;
        @media screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 10;
        >svg {
            color: inherit !important;
            display:block !important;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            @media screen and (max-width: 767px) {
                width: 0!important;
                height: 0!important;
            }
        }
        &_expanded {
            width: 40px;
            height: 40px;
            >svg {
                @media screen and (max-width: 767px) {
                    width: 24px!important;
                    height: 24px!important;
                }
            }
        }
    }

    &__text {
        display:block;
        height: 40px;
        line-height: 40px;
        margin-left: 50px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;


        &_expanded {
            display: block;
            opacity: 1;
        }
    }
}

/*
.nav {
    width: 50px;
    height: 100%;
    padding: 5px;
    transition: width 300ms ease-in-out;
    background-color: rgb(43,50,58);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &_expanded {
        width: 200px;
    }

    &__menu {
        height: 40px;
    }

    &__item {
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
        &_active {
            .nav__icon {
                background-color: rgb(255,255,255);
                border: 1px solid rgb(255,255,255);
                border-radius: 50%;
                >svg {
                    color: rgb(0, 188, 212) !important;
                }
            }

            .nav__text {
                color: rgba(255,255,255,0.9);
            }
        }
    }

    &__submenu {
        position: relative;
        height: 0;
        transition: height 300ms ease-in-out;
        &_expanded {
            height: 40px;
            &:before {
                content: "";
                left: 20px;
                top: -20px;
                bottom: 20px;
                position: absolute;
                display: block;
                width: 1px;
                border-left: 1px dashed rgba(255, 255, 255, 0.3);
                z-index: 1;
            }
            &:first-child:before {
                top: 0;
            }
        }
    }

    &__subitem {
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        &_expanded {
            opacity: 1;
            &:before {
                content: "";
                left: 20px;
                top: 20px;
                position: absolute;
                display: block;
                width: 25px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
                z-index: 1;
            }
        }

        &_active {
            .nav__text {
                color: rgba(255,255,255,0.9);
            }
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        >svg {
            color: rgba(255,255,255,0.5) !important;
            display:block !important;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__text {
        display:block;
        height: 40px;
        line-height: 40px;
        margin-left: 50px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        color: rgba(255,255,255,0.5);

        &_expanded {
            display: block;
            opacity: 1;
        }
    }
}
*/
